body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF8E1;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /*Impede a rolagem lateral*/ 
}

header, .map {
    background: linear-gradient(135deg, #FF7043, #FFB74D); /*Aplica um gradiente com ângulo de 135 graus*/
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom: 8px solid #D84315; /*Adiciona uma borda inferior*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*Aplica uma sombra suave no cabeçalho*/
}

h1 {
    font-family:'Luckiest Guy', cursive;
    font-size: 60px;
    margin: 0;
    text-shadow: 3px 3px 0px #D84315, 4px 4px 0px rgba(0, 0, 0, 0.2); /*Dupla sombra no texto*/
    letter-spacing: 1px; /*espaçamento entre as letras*/
}

header p {
    font-size: 30px;
    font-weight: bold;
}

.banner {
    min-height: 450px;
    background-size: cover; /*Garante que a imagem cubra todo o espaço*/
    background-position: center center;/*Centraliza a imagem de fundo*/
    background-attachment: fixed; /*Deixa a imagem fixa enquanto rola o banner*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
    position: relative;
    color: white;
    overflow: hidden;
}

.banner::before { /*Cria um pseudo-elemento antes do conteúdo do banner*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7));
    z-index: 1;/* Define a ordem de empilhamento*/
}

.banner-content {
    position: relative; /*para controlar seu posicionamento dentro do banner*/
    z-index: 2; 
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 24px 32px;
    border-radius: 12px;
    border: 2px solid #ffffff33;
    transition: transform 0.3s ease-in-out; /*Adiciona uma trasição suave */
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-content:hover {
    transform: scale(1.05); /* Aumenta a escala do conteúdo ao passar o mouse em cima*/
}

.banner-content h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px #333, 3px 3px 0px rgba(0, 0, 0, 0.3);
    color: #FFD180;
}

.banner-content p {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.7; /*Aumenta a altura da linha*/
}

/*Imagens dos banner*/
#banner1 {background-image: url(hero-banner.png);} /*Define a imagem dos banner*/
#banner2 {background-image: url(comidas.png);} 
#banner3 {background-image: url(dance.png);} 
#banner4 {background-image: url(brincadeiras.png);} 
#banner5 {background-image: url(musica.png);} 
#banner6 {background-image: url(decoracao.png);} 

.banner:not(:last-child) { 
    margin-bottom: 16px; /*Adiciona uma margem inferior a todos os banners, exceto o último*/
}

footer {
    background-color: #4E342E;
    color: white;
    text-align: center;
    padding: 32px 16px;
    margin-top: 48px;
    border-top: 5px solid #3E2723; /*Adiciona uma borda superior ao rodapé*/
}

footer p {
    margin: 0;
    font-size: 14px;
}
